h1,h2,h3,h4 {
    color: #6d6d6d;
    font-weight: 100;
}

h2,h3,h4 {
    color: #537091;
}

.fab {
    font-size: 2em;
    vertical-align: middle;
    margin: 0;
}

h1 {
    font-size: 4vh;
}

p, li {
    font-size: 1.3em;
}
.logos-header > img {
    height: 200px;
    margin: 0 40px;
}


.logos-header .main-logo {
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.logos-header .header-title {
    display: none;
}


header {
    color: #000;
    background-color: #00000000;
}

header .logos-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color-bg {
    background-color: #303f9f;
    color: white;
    padding: 10px;
}


.logos-header > .header-safe {
    display: none;
}

@media screen and (min-width: 1200px) {
    .logos-header .header-title {
        display: block;
        height: 30px;
        width: auto;
        margin-top: 100px;
    }

    .logos-header > .header-safe {
        display: block;
        filter: hue-rotate(25deg);
        padding-left: 200px;
        margin-top: 10px;
    }
    header .logos-header {
        flex-direction: row;
    }
}

nav {
    background-color: #2b4680;
}
nav li a {
    color:#fff;
}

.odometer {
    display: inline-block;
}

.odoContainer {
    margin-top: 70px;
    font-size: 4vh;
    text-align: middle;
}
.program {
    margin: 40px 0;
    
}
li i {
    margin-right: 10px;
    display:inline;
    vertical-align: center;
    font-size: 1.4rem;
    position: relative;
    top: 5px;
    left: 5px;
    color: #383838;
}



.offer li {
    list-style: square inside !important;
    font-size: 1.2em;
    margin: 20px;
}


.light-text h2,
.light-text h3,
.light-text h4,
.light-text h5 {
    font-weight: 200;
    color: ghostwhite;
}


.footer-copyright * {
    color: black;
}
.footer-copyright {
    text-decoration: underline;
    
}
.company-name {
    color: #2b4680;
}

.fb-icon svg {
    color: #fff;
    font-size: 0.5em;
}
.fb-blue {
    background-color: #4267b2 !important;
}

.main { 
    display: block;
    min-height: 700px;
}

.welcome-row {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.parallax img {
    filter: grayscale(60%);
    
}

.parallax-container {
    height: 400px;
}

.cutout-container {
    filter: drop-shadow(-12px 15px 3px rgba(0,0,0,0.4));
}
.cutout {
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 60%, 0% 0%);
}
footer {
    font-size: 0.9em;
}
.loan-col {
    min-height: 300px;
    margin: 10px 0;
}
.loan {
    height: 320px;
}

.loan ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-container {
    margin: 0 auto;
}

.grid-container > p,
.grid-container > .btn-large {
    grid-area: aside;
}
.grid-container > div {
    grid-area: main;
}

.contact-row {
    display: flex;
    flex-direction: row;
}

.contact-row i {
    margin: 10px;
    vertical-align: middle;
}



@media screen and (max-width: 360px) {
    .attorney-image {
        width: 330px;
        margin: 10px auto;
        display: inline-block;
        text-align: center;
    }

    nav {
        height: 168px;
    }
    .grid-container {
        height: 800px !important;
        grid-template-rows: 1fr 2fr 3fr;
    }

    .contact-container > div > div {
        margin-bottom: 40px;
    }
    .grid-container > .btn-large {
        display: inherit;
        width: 200px;
        margin: 30px auto;
    }
}

@media screen and (min-width: 361px) and (max-width: 1120px) {
    h2 {
        font-size: 6vh;
    }

    .attorney-image {
        height: 530px;
    }

    

    .grid-container h1 {
        margin: 0 30px;
        font-size: 3em;
    }

    .grid-container > p {
        margin: 30px;
    }

    .grid-container > .btn-large {
        display: inherit;
        width: 200px;
        margin: 20px auto;
        text-align: center;
    }

    nav {
        height: 190px;
    }
    
}

@media screen and (max-width: 1120px) {

    h1 {
        font-size: 2.5em;
    }
    
    nav ul {
        flex-direction: column;
        margin: 0;
    }
    nav li {
        width: 100% !important;
        text-align: center;
    }
    .grid-container {
        width: 100%;
        height: 1000px;
          grid-template-areas: 
        "head"
    "main"
    "aside";
      grid-template-rows: 3fr 2fr 2fr;
    }

    .grid-container h1 {
        
        text-align: center;
    }
    .grid-container > .btn {
        margin: 20px auto;
    }


    .grid-container > div {
        margin: 40px 0;
    }

    .grid-container > p {
        margin: 10px 30px;
    }

    .cutout {
        -webkit-clip-path: none;
        clip-path: none;
       
    }

    .attorney-image {
        width: 100%;
        height: auto;
    }


    .iframe-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
    }
    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

@media screen and (min-width: 1121px) and (max-width: 1899px) {
    nav {
        height: 64px !important;
    }
    nav ul {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 100px;
    }

    .grid-container {
        max-width: 70%;
    }
    .grid-container {
        display: grid;
        width: 60vw;
        height: 440px;
        grid-template-columns: 60% auto;
        grid-template-rows: 120px 1fr auto;
        grid-template-areas: 
            "head head head head main main main"
            "aside aside aside aside main main main"
            "aside aside aside aside main main main"
            "aside aside aside aside main main main";
      }

      .grid-container > .btn-large {
        margin: 200px auto;
    }
    .attorney-image {
        width:500px;
    }

    h1,h2,h3,h4 {
        font-size: 3em;
        line-height: 40px;
    }
    
    .contact-container p {
        margin: 10px 30px;
    }

    
}